<div ui-content-for="title">
    <span>Home</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div class="main-banner banner text-center">
            <div class="container">
                <h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with iBarter</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <a href="post-ad.html">Post Free Ad</a>
            </div>
        </div>
        <!-- content-starts-here -->
        <div class="content">
            <div class="container">
                <div class="featured-ads">
                    <h2 class="sear-head fer">Newly Added</h2>
                    <div id="container">
                        <ul class="list" ng-repeat="product in newlyAddedProducts">
                            <a href="#/product">
                                <li>
                                    <img src="{{imagePath}}{{product.images[0]}}" title="" alt="" />
                                    <section class="list-left">
                                        <h5 class="title">{{product.name}}</h5>
                                        <span class="adprice">¥{{product.price}}</span>
                                        <p class="catpath">Mobile Phones » Brand</p>
                                    </section>
                                    <section class="list-right">
                                        <span class="date">Today, 17:55</span>
                                        <span class="cityname">City name</span>
                                    </section>
                                    <div class="clearfix"></div>
                                </li>
                            </a>    
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
