<div ui-content-for="title">
    <span>Product</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div ng-if="sectionLoading" class="loader">
            <div class="overlay"></div>
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="content" ng-show="!sectionLoading">
            <div class="container">
                <div class="product-desc">
                    <div class="col-md-7 product-view">
                        <h2>{{product.name}}</h2>
                        <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">City</a>, <a href="#">{{product.itemLocation}}</a>| Added at 06:55 pm, Product ID: {{product._id}}</p>

                        <image-slider params="{animation: 'slide', controlNav: 'thumbnails'}"></image-slider>
                        <link rel="stylesheet" href="bower_components/flexslider-destroy/flexslider.css" type="text/css" />
                        <script src="bower_components/flexslider-destroy/jquery.flexslider.js"></script>

                        <div class="product-details">
                            <!-- <h4>Brand : <a href="#">Company name</a></h4>
                            <h4>Views : <strong>150</strong></h4>
                            <p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p> -->
                            <p><strong>Summary</strong> : {{product.description}}</p>
                        </div>
                    </div>
                    <div class="col-md-5 product-details-grid">
                        <div class="item-price">
                            <div class="product-price">
                                <p class="p-price">Price</p>
                                <h3 class="rate">¥ {{product.price}}</h3>
                                <div class="clearfix"></div>
                            </div>
                            <div class="condition">
                                <p class="p-price">Condition</p>
                                <h4>Good</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="itemtype">
                                <p class="p-price">Item Type</p>
                                <h4>{{product.category}}</h4>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- <div class="interested text-center">
                            <h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
                            <p><i class="fa fa-phone"></i>00-85-9875462655</p>
                        </div> -->
                        <!-- <div class="tips">
                            <h4>Safety Tips for Buyers</h4>
                            <ol>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                                <li><a href="#">Contrary to popular belief.</a></li>
                            </ol>
                        </div> -->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
