<div class="scrollable">
    <!-- <h1 class="scrollable-header app-name">Mobile Angular UI <small>1.2</small></h1> -->
    <h1 class="scrollable-header app-name">
    <div class="logo menu-logo">
        <a href="#/home"><span>i</span>Barter</a>
    </div>
  </h1>
    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/productList"><i class="fa fa-laptop fa-lg pull-left item-icon"></i>Electronics <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/lifestyle"><i class="fa fa-sign-in fa-lg pull-left item-icon"></i>Lifestyle <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/furniture"><i class="fa fa-plug fa-lg pull-left item-icon"></i>Home & Furniture <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/books"><i class="fa fa-book fa-lg pull-left item-icon"></i>Books & More <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href="#/login"><i class="fa fa-user fa-lg pull-left item-icon"></i>My Account<i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/products"><i class="fa fa-cube fa-lg pull-left item-icon"></i>My Products <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/deals"><i class="fa fa-thumbs-o-up fa-lg pull-left item-icon"></i>My Deals <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/wishlist"><i class="fa fa-heart fa-lg pull-left item-icon"></i>My Wishlist <i class="fa fa-chevron-right pull-right"></i></a>
        </div>
    </div>
</div>
