<div class="scrollable">
    <!-- <h1 class="scrollable-header app-name">Mobile Angular UI <small>1.2</small></h1> -->
  <h1 class="scrollable-header app-name">
    <div class="logo menu-logo">
        <a href="index.html"><span>i</span>Barter</a>
    </div>
  </h1>
  <div class="scrollable-content">
      <div class="list-group" ui-turn-off='uiSidebarLeft'>
          <a class="list-group-item" href="#/"><i class="fa fa-home fa-lg pull-left item-icon"></i>Home <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/login"><i class="fa fa-sign-in fa-lg pull-left item-icon"></i>Login <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/chatUs"><i class="fa fa-comments fa-lg pull-left item-icon"></i>Chat Us <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/complaints"><i class="fa fa-exclamation-circle fa-lg pull-left item-icon"></i>Complaints <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/categories"><i class="fa fa-list-ul fa-lg pull-left item-icon"></i>Categories <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/messages"><i class="fa fa-comment fa-lg pull-left item-icon"></i>Messages <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/help"><i class="fa fa-question-circle fa-lg pull-left item-icon"></i>Help & FAQ <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/inviteFriends"><i class="fa fa-user-plus fa-lg pull-left item-icon"></i>Invite Friends <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/settings"><i class="fa fa-gear fa-lg pull-left item-icon"></i>Settings <i class="fa fa-chevron-right pull-right"></i></a>
          <a class="list-group-item" href="#/logout"><i class="fa fa-sign-out fa-lg pull-left item-icon"></i>Logout<i class="fa fa-chevron-right pull-right"></i></a>
      </div>
  </div>
</div>